.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.bold-section p {
  font-size: 32px;
  line-height: 50px;
  margin: 0 0 60px;
  font-family: "Vulf Sans", sans-serif;
}

.bold-section p a {
    text-decoration: none;
    color: inherit;
}

.bold-section p a::after {
  content: " ";
}

.bold-section p a:hover {
  text-decoration: none;
}

.bold-section p .icon {
  display: inline-block;
  width: 37px;
  height: 37px;
  position: relative;
  top: 7px;
}

.bold-section p u {
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
}

@media (width <= 767px) {
  .bold-section p {
    margin: 0 0 36px;
  }
}
