.share-your-story {
    margin: 100px 0;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.share-your-story .default-content-wrapper {
    position: relative;
    padding: 0 16px;
    width: 20.3%;
    max-width: 587px;
    margin-left: calc(50vw - 587px);
}

.share-your-story .default-content-wrapper::before {
    content: "";
    position: absolute;
    left: -106px;
    top: -189px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.autoslider-wrapper {
    max-width: 861px;
    max-height: 440px;
    right: 0;
    top: 0;
    width: 100%;
}

.slick-slide img {
    width: 100%;
    height: 100%;
}

.autoslider-slide.slick-slide.slick-current.slick-active {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
}

.slick-track {
    width: 100% !important;
}
